@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
    <div class="col-md-12">
        <h5>This Configuration Value was set using _configuration.GetValue<string>("MySection:MySectionItem")</h5>
        <div class="alert alert-info" role="alert">
            <h4>@Model.MySection</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>This Configuration Value was set using _configuration.Bind("MySection", mySettings)</h5>
        <div class="alert alert-info" role="alert">
            <h4>@Model.MySettingsValue</h4>
        </div>
    </div>
</div>
